// Define new variables.
$movies-gray: #90a0b7;
$movies-dark-gray: #818e9b;
$movies-blue: #109cf1;

$movies-bg-light-gray: #f2f2f2;

$movies-border-radius-default: 6px;
$movies-border-radius-big: 10px;
