<div class="theme-switcher">
    <span class="text light">{{ "Day"|t({}, {"context":"Theme switcher"}) }}</span>
    <span class="icon"></span>
    <span class="text dark">{{ "Night"|t({}, {"context":"Theme switcher"}) }}</span>
</div>
