<div class="collection-wrapper">
  <div class="collection-title">
    {{ title }}
  </div>
  <div class="row">
    <div class="col-lg-4">
      {{ poster }}
    </div>
    <div class="collection-items col-lg-8">
      <div class="row">
        {% for item in items %}
          <div class="col-lg-3">
            {{ item }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
