{% set classes = create_attribute({'class': ['items-avatars-wrapper']}) %}

{% if use_container %}
  {% set classes = classes.addClass('container') %}
{% endif %}

<div{{ classes }}>

  {% if title %}
    <div class="items-avatars-title">
      {{ title }}
    </div>
  {% endif %}

  <div class="items-avatars-content">
    {% for item in items %}
      <div>
        {{ item }}
      </div>
    {% endfor %}
  </div>

</div>
