<div class="video">
  <div class="video-player-wrapper">
    <iframe width="1280" height="720"
            src="https://www.youtube-nocookie.com/embed/{{ key }}?rel=0&controls=2&color=white&showinfo=0&iv_load_policy=3&hl={{ language }}"
            allowfullscreen>
    </iframe>
  </div>
  <div class="name">{{ name }}</div>
  <div class="size">{{ size }}</div>
</div>
