<div class="video">
  <div class="video-player-wrapper">
    {{ include('movies:youtube-preview', {
      video_id: key,
      language: language,
      title: name
    }, with_context = false) }}
  </div>
  {% if video_language == 'uk' %}
    {{ include('movies:ukraine-flag') }}
  {% endif %}
  <div class="name">{{ name }}</div>
  <div class="size">{{ size }}</div>
</div>
