/**
 * Node field "extra-tabs".
 */
.field-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  a {
    flex: 0 1 auto;
    margin: 5px 10px;
    color: $movies-gray;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    user-select: none;

    &.active {
      pointer-events: none;
      border-bottom: 1px solid $movies-blue;
    }
  }
}

/**
 * TV seasons tabs.
 */
.seasons-tabs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(8ch, auto));
  margin-top: 35px;
  margin-bottom: 35px;

  a {
    color: $movies-gray;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    user-select: none;

    &.active {
      width: fit-content;
      pointer-events: none;
      border-bottom: 1px solid $movies-blue;
    }
  }
}
