/**
 * Node field "extra-tabs".
 */
.field-tabs,
.seasons-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  a {
    margin-right: 30px;
    margin-bottom: 10px;
    color: $movies-gray;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    user-select: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 1px solid $movies-blue;
    }

    &.active {
      pointer-events: none;
      border-bottom: 1px solid $movies-blue;
      font-weight: bold;
    }
  }
}

/**
 * TV seasons tabs.
 */
.seasons-tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 30px;
  margin: 0;
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(6, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(8, 1fr);
  }

  a {
    margin: 0;
    place-self: start;
  }
}
