.properties {
  position: relative;
  display: grid;
  grid-row-gap: 10px;
  margin-bottom: 15px;

  .field-with-label {
    display: grid;
    grid-template-columns: clamp(15ch, 25ch, 50%) 1fr;
    align-items: center;

    .label {
      word-break: break-word;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}


/**
 * Field "title".
 */
.field-title {
  font-size: 1.5em;
  color: $movies-blue;
  margin-bottom: 30px;
}

/**
 * Field "overview".
 */
.field-overview {
  opacity: .7;
  line-height: 1.5em;
}

/**
 * Poster + approved.
 */
.poster-wrapper {
  position: relative;
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  .field--name-field-poster {
    margin-bottom: 0;

    img {
      border-top-left-radius: $movies-border-radius-big;
      border-top-right-radius: $movies-border-radius-big;
    }
  }

  .field-approved {
    position: absolute;
    top: 50px;
    padding-left: 10px;
    padding-right: 50px;
    line-height: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    background: #fff;
    color: #90A0B7;
  }
}

/**
 * Logo-based fields.
 * Production companies, networks.
 */
.field-production-companies,
.field-networks {
  .content {
    margin-bottom: -10px;

    img {
      height: min-content;
      max-height: 30px;
      width: auto;
      max-width: 100%;
      filter: grayscale(1);
      opacity: .5;
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

/**
 * Field "genres".
 */
.field-genres {
  display: grid;
  grid-gap: 10px 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
    margin-bottom: 20px;
  }

  a {
    display: grid;
    place-content: center;
    background: $white;
    color: $movies-gray;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
    border-radius: $movies-border-radius-default;
    padding: 6px 0;
    @include media-breakpoint-up(lg) {
      padding: 6px 30px;
      margin-right: 30px;
      margin-bottom: 10px;
    }
  }
}

/**
 * Field "original title".
 */
.field-original-title {
  font-size: .8em;
  margin-bottom: 10px;
  font-family: $lat-font;
}

/**
 * Field "site".
 */
.field-site {
  .field-with-label {
    .content {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: calc(1rem + 1px);
    }
  }
}

/**
 * Field "torrent".
 */
.field-noname-club {
  a {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/torrent.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    font-size: 0;
  }
}
