@use "mixins";
@use "variables";

.properties {
  position: relative;
  display: grid;
  grid-row-gap: 10px;
  margin-bottom: 15px;

  .field-with-label {
    display: grid;
    grid-template-columns: clamp(15ch, 25ch, 50%) 1fr;
    align-items: center;

    .label {
      word-break: break-word;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.block-icon-properties {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: 10px;
}


/**
 * Field "title".
 */
.field-title {
  font-size: 1.5em;
  color: variables.$text-color-second;
  margin-bottom: 30px;
  word-break: break-word;
}

/**
 * Field "overview", "biography".
 */
.field-overview,
.field-biography {
  line-height: 1.5em;
}

/**
 * Poster + approved.
 */
.poster-wrapper {
  position: relative;
  @include mixins.media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  .field--type-tmdb-image {
    margin-bottom: 0;

    img {
      border-top-left-radius: variables.$movies-border-radius-big;
      border-top-right-radius: variables.$movies-border-radius-big;
    }
  }

  .field-approved {
    position: absolute;
    top: 50px;
    padding-left: 10px;
    padding-right: 50px;
    line-height: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: variables.$font-weight-bold;
    background: variables.$bg-color-white;
    color: variables.$text-color-main;
  }
}

/**
 * Logo-based fields.
 * Production companies, networks.
 */
.properties {
  .field-production-companies,
  .field-networks {
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      grid-gap: 10px 30px;

      img {
        height: min-content;
        max-height: 50px;
        width: auto;
        max-width: 100%;
        filter: grayscale(1);
        opacity: .5;
      }
    }
  }
}

/**
 * Field "genres".
 */
.field-genres {
  display: grid;
  grid-gap: 10px 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
  @include mixins.media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
    margin-bottom: 20px;
  }

  a {
    display: grid;
    place-content: center;
    background-color: variables.$bg-color-white;
    color: variables.$text-color-main;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
    border-radius: variables.$movies-border-radius-default;
    padding: 6px 0;
    @include mixins.media-breakpoint-up(lg) {
      padding: 6px 30px;
      margin: {
        right: 30px;
        bottom: 10px;
      };
    }
  }
}

/**
 * Field "original title".
 */
.field-original-title {
  font: {
    size: .8em;
  };
  margin-bottom: 10px;
  color: variables.$text-color-3d;
}

/**
 * Field "site".
 */
.field-site {
  .field-with-label {
    .content {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: calc(1rem + 1px);
    }
  }
}

/**
 * Field "torrent".
 */
.field-noname-club {
  a {
    display: block;
    background: url(/themes/custom/movies/assets/nnm.webp) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    font-size: 0;
  }
}

.field-noname-sheet {
  a {
    display: block;
    background: url(/themes/custom/movies/assets/sheet.svg) no-repeat center;
    background-size: contain;
    width: 30px;
    height: 30px;
    font-size: 0;
  }
}

.nnm-sheet-modal {
  @include mixins.media-breakpoint-down(sm) {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    bottom: 0;
    z-index: 503 !important;
  }

  #drupal-modal {
    @include mixins.media-breakpoint-down(sm) {
      max-height: 100vh !important;
    }
  }

  table {
    width: 100%;
    margin-bottom: 50px;
    @include mixins.media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }

  th {
    background-color: darkgray;
    padding: 10px;
  }

  tr {
    min-height: 30px;
  }

  td {
    border: 1px solid cadetblue;
    text-align: center;
    padding: 2px 5px;
  }
}

.nnm-sheet-empty-message {
  min-height: 100px;
  display: grid;
  place-content: center;
}

/**
 * Torrent icons.
 */
a[data-topic-id] {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nnm-links-container {
  display: flex;
  justify-content: space-evenly;
}

.nnm-torrent-link {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;

  &.file {
    background-image: url(/themes/custom/movies/assets/torrent.svg);
  }

  &.magnet {
    background-image: url(/themes/custom/movies/assets/magnet.svg);
  }
}

/**
 * Field "Copy movie admin info".
 */
.field-copy-movie-admin-info {
  input {
    display: block;
    background: url(/themes/custom/movies/assets/copy.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
    outline: none;
    border: none;

    &.clicked {
      filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%) !important;
    }
  }
}

/**
 * Field "Gallery".
 */
.field-gallery {
  img {
    cursor: zoom-in;
    border-radius: variables.$movies-border-radius-default;
  }
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  /**
   * Field "title".
   */
  .field-title {
    color: variables.$dk_text-color-second;
  }

  /**
   * Poster + approved.
   */
  .poster-wrapper {
    .field-approved {
      background: variables.$dk_bg-color-white;
      color: variables.$dk_text-color-main;
    }
  }

  /**
   * Field "genres".
   */
  .field-genres {
    a {
      background-color: variables.$dk_bg-option;
      color: variables.$dk_text-option;
    }
  }

  /**
   * Field "original title".
   */
  .field-original-title {
    color: variables.$dk_text-color-3d;
  }

  /**
   * Logo-based fields.
   * Production companies, networks.
   */
  .properties {
    .field-production-companies,
    .field-networks {
      img {
        filter: grayscale(1) invert(1);
      }
    }
  }

  .field-copy-movie-admin-info {
    input {
      filter: invert(1);
    }
  }
}
