// Inter|300
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// Inter|500
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
