@use "variables";

.form-type-checkbox {
  input[type=checkbox] {
    display: none;

    &:checked {
      + label {
        //grid-template-columns: 1fr 30px;
        //place-items: center;
        background-color: variables.$bg-color-filter-checkbox;
        color: #fff;

        //&:after {
        //  content: "";
        //  background: url(/themes/custom/movies/assets/x.svg) no-repeat;
        //  background-size: contain;
        //  width: 8px;
        //  height: 8px;
        //}
      }
    }
  }

  label {
    display: grid;
    text-align: center;
    background-color: variables.$bg-color-white;
    color: variables.$text-color-main;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    border-radius: 6px;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
  }
}

.mvs-button {
  text-align: center;
  background-color: variables.$bg-color-white;
  color: variables.$text-color-main;
  box-shadow: 0 0 15px rgba(0, 0, 0, .07);
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  font-family: Inter, sans-serif;
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  .form-type-checkbox {
    label {
      background-color: variables.$dk_bg-option;
      color: variables.$dk_text-option;
    }
  }

  .mvs-button {
    background-color: variables.$dk_bg-option;
    color: variables.$dk_text-option;
  }
}
