@use "mixins";
@use "variables";

*,
:before,
:after {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: variables.$font-family;
    size: 15px;
    weight: variables.$font-weight-normal;
  };
  color: variables.$text-color-main;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a,
a:hover {
  color: variables.$text-color-second;
  text-decoration: none;
}

.label {
  font-weight: variables.$font-weight-bold;
}

.bg-white {
  background-color: variables.$bg-color-white;
}

.bg-light-gray {
  background-color: variables.$bg-color-light-gray;
}

.ajax-progress-throbber {
  display: none;
}

.ajax-progress-fullscreen {
  display: none;
}

.desktop-hide {
  @include mixins.media-breakpoint-up(lg) {
    display: none !important;
  }
}

.mobile-hide {
  @include mixins.media-breakpoint-down(md) {
    display: none !important;
  }
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  background-color: variables.$dk_bg-color-white;
  color: variables.$dk_text-color-main;

  a,
  a:hover {
    color: variables.$dk_text-color-second;
  }

  .bg-white {
    background-color: variables.$dk_bg-color-white;
  }

  .bg-light-gray {
    background-color: variables.$dk_bg-color-light-gray;
  }
}
