* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html[lang|=en] * {
  font-family: Poppins, sans-serif;
}

html[lang|=ru] *,
html[lang|=uk] * {
  font-family: OpenSans, sans-serif;
}

body {
  font-size: 15px;
  color: $movies-gray;
}

img {
  width: 100%;
  vertical-align: middle;
}

a,
a:hover {
  color: $movies-blue;
  text-decoration: none;
}

.label {
  font-weight: bold;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $movies-bg-light-gray;
}

.ajax-progress-throbber {
  display: none;
}

.ajax-progress-fullscreen {
  display: none;
}
