/**
 * TMDb iterable extra fields.
 * Belongs to collection (movie).
 */
.collection-wrapper,
.items-list-wrapper {
  display: grid;

  .collection-title,
  .items-list-title {
    grid-area: title;
    margin-bottom: 30px;
    font-size: 1.2em;
  }

  .collection-items,
  .items-list-content {
    grid-area: items;
  }
}

/**
 * Belongs to collection (movie).
 */
.collection-wrapper {
  grid-template-columns: 1fr;
  grid-template-areas:
        "title"
        "collection-poster"
        "items";
  grid-column-gap: 30px;
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "title title title"
        "collection-poster items items";
  }

  .collection-poster {
    grid-area: collection-poster;
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    img {
      border-radius: $movies-border-radius-default;
    }
  }

  .collection-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/**
 * TMDb iterable extra fields.
 */
.items-list-wrapper {
  grid-template-areas:
    "actions"
    "title"
    "items";

  .actions {
    grid-area: actions;
    justify-self: end;

    .with-photo {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 15px;
      align-items: center;
      height: 30px;
      margin-bottom: 30px;

      input {
        align-self: start;
        width: 50px;
        height: 0;
        position: relative;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          width: 50px;
          height: 30px;
          background-color: $bg-color-white;
          border-radius: 15px;
          border: 1px solid $text-color-main;
        }

        &:after {
          content: "";
          position: absolute;
          width: 26px;
          height: 26px;
          top: 2px;
          left: 2px;
          border-radius: 100%;
          background-color: $text-color-main;
          transition: left .5s, background-color 1s;
        }

        &:checked {
          &:after {
            left: 22px;
            background-color: $text-color-second;
          }
        }
      }
    }
  }

  .person {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 1fr auto;

    &.no-photo {
      display: none;

      &.show {
        display: grid;
      }
    }

    .avatar {
      img {
        border-radius: $movies-border-radius-default;
      }
    }

    .name {
      font-size: 1em;
      color: $text-color-main;
    }

    .property {
      font-size: 0.8em;
      color: $text-color-3d;
    }
  }
}

/**
 * Videos.
 */
.videos-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  .video {
    display: grid;
    grid-row-gap: 10px;

    .video-player-wrapper {
      position: relative;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: $movies-border-radius-big;
      }
    }

    .size {
      color: $text-color-3d;
      font-size: .67em;

      &:after {
        content: "p";
      }
    }
  }
}

/**
 * Field crew.
 */
.field-crew {
  .items-list-wrapper + .items-list-wrapper {
    margin-top: 50px;
  }
}

/**
 * Views using "infinite scroll".
 */
.views-infinite-scroll-content-wrapper {
  @extend .responsive-grid;
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  /**
   * TMDb iterable extra fields.
   */
  .items-list-wrapper {
    .with-photo {
      input {
        &:before {
          background-color: $dk_bg-color-white;
          border: 1px solid $dk_text-color-main;
        }

        &:after {
          background-color: $dk_text-color-main;
        }

        &:checked {
          &:after {
            background-color: $dk_text-color-second;
          }
        }
      }
    }

    .person {
      .name {
        color: $dk_text-color-main;
      }

      .property {
        color: $dk_text-color-3d;
      }
    }
  }

  /**
   * Videos.
   */
  .videos-wrapper {
    .size {
      color: $dk_text-color-3d;
    }
  }
}
