@use "variables";

#user-login-form {
  display: grid;
  place-content: center;
  height: calc(100vh - 170px);
  padding-left: 15px;
  padding-right: 15px;

  .description {
    display: none;
  }

  label {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  input {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: variables.$bg-search;
    color: variables.$text-color-main;
    padding: 15px 20px;
    margin-bottom: 20px;

    &[type=submit] {
      color: variables.$text-color-main;
      background-color: variables.$bg-color-light-gray;
      cursor: pointer;
    }

    &::placeholder {
      color: variables.$text-color-main;
    }

    &:focus {
      //outline: none;
    }
  }

}

#block-movies-local-tasks {
  display: none;
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  #user-login-form input {
    &[type=text],
    &[type=password] {
      color: variables.$dk_text-color-main;
      background-color: variables.$dk_bg-color-light-gray;
    }

    &[type=submit] {
      color: variables.$dk_text-color-main;
      background-color: variables.$dk_bg-option;
    }
  }
}
