.more-button-wrapper {
  position: relative;

  &.pager {
    width: calc(50% - 15px);
    margin: 0;
    @include media-breakpoint-up(sm) {
      width: calc(33.3333333% - 20px);
    }
    @include media-breakpoint-up(md) {
      width: calc(25% - 25px);
    }
    @include media-breakpoint-up(lg) {
      width: calc(16.666667% - 25px);
    }
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $movies-border-radius-default;
    color: $movies-gray;
    background-color: #e2e2e2;

    &:before {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background: url(../assets/refresh.svg) no-repeat;
      background-size: cover;
      margin-bottom: 25px;
    }
  }
}
