.more-button-wrapper {
  position: relative;
  padding-top: 150%;
  height: 0;
  margin: 0;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    place-items: center;
    grid-row-gap: 30px;
    border-radius: $movies-border-radius-default;
    color: $text-color-main;
    background-color: #e2e2e2;

    &:before {
      content: "";
      width: 45px;
      height: 45px;
      background: url(../assets/refresh.svg) no-repeat;
      background-size: cover;
    }
  }
}


/**
 * Hamburger menu.
 */
.hamburger {
  justify-self: end;
  width: 30px;
  height: 23px;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $text-color-main;
    transition: .25s ease-in-out;
    left: 0;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  /* Hamburger transform. */
  &.open {
    span {
      &:first-child {
        top: 11px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
      }
    }
  }
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  .more-button-wrapper {
    a {
      background-color: $dk_bg-color-white;
      color: $dk_text-color-main;
      border: 2px solid $dk_text-color-main;

      &:before {
        background-image: url("../assets/dk_refresh.svg");
      }
    }
  }

  /**
   * Hamburger menu.
   */
  .hamburger {
    span {
      background-color: $text-color-main;
    }
  }
}
