.more-button-wrapper {
  position: relative;
  padding-top: 150%;
  height: 0;
  margin: 0;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    place-items: center;
    grid-row-gap: 30px;
    border-radius: $movies-border-radius-default;
    color: $movies-gray;
    background-color: #e2e2e2;

    &:before {
      content: "";
      width: 45px;
      height: 45px;
      background: url(../assets/refresh.svg) no-repeat;
      background-size: cover;
    }
  }
}
