/**
 * Node.
 */
article {
  section {
    padding-bottom: 50px;

    & + section {
      padding-top: 50px;
    }
  }
}


/*
 * Full node.
 */
.node-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "poster content content";
    grid-column-gap: 30px;
  }

  .poster-wrapper {
    grid-area: poster;
  }

  .content-wrapper {
    grid-area: content;
  }
}


/*
 * Node teaser.
 */
.node-teaser {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 10px;

  .poster-wrapper {
    height: 0;
    padding-bottom: 150%;
    margin-bottom: 5px;

    .field-poster {
      img {
        border-radius: $movies-border-radius-default;
      }
    }

    .imdb-rating-wrapper {
      position: absolute;
      top: 15px;

      .field-with-label {
        display: flex;
        background-color: $white;
        padding: 5px 15px 5px 5px;
        font-size: .7em;
        color: $movies-gray;
        border-top-right-radius: $movies-border-radius-default;
        border-bottom-right-radius: $movies-border-radius-default;

        .label {
          margin-right: 5px;
        }
      }
    }
  }

  .title-wrapper {
    display: grid;
    grid-row-gap: 10px;
    place-content: start;

    .field-title {
      margin-bottom: 0;
      font-size: 1em;
      color: $movies-gray;
    }

    .field-original-title {
      margin-bottom: 0;
      color: $movies-gray;
    }
  }
}
