@use "mixins";
@use "variables";

/**
 * Node.
 */
article {
  section {
    padding-bottom: 50px;

    & + section {
      padding-top: 50px;
    }
  }
}


/*
 * Full node.
 */
.node-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "poster"
    "content";
  @include mixins.media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "poster content content";
    grid-column-gap: 30px;
  }

  .poster-wrapper {
    grid-area: poster;
  }

  .content-wrapper {
    grid-area: content;
  }
}


/*
 * Node teaser.
 */
.node-teaser {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 15px;
  cursor: pointer;

  .poster-wrapper {
    height: 0;
    padding-bottom: 150%;
    margin-bottom: 0;
    overflow-y: hidden;
    border-radius: variables.$movies-border-radius-default;

    .field-poster {
      img {
        border-radius: variables.$movies-border-radius-default;
      }
    }

    .imdb-rating-wrapper {
      position: absolute;
      top: 15px;

      .field-with-label {
        display: flex;
        background-color: variables.$bg-color-white;
        padding: 5px 15px 5px 5px;
        font-size: .7em;
        color: variables.$text-color-main;
        border-top-right-radius: variables.$movies-border-radius-default;
        border-bottom-right-radius: variables.$movies-border-radius-default;

        .label {
          margin-right: 5px;
        }
      }
    }
  }

  .title-wrapper {
    display: grid;
    grid-row-gap: 10px;
    place-content: start;

    .field-title {
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.2;
      color: variables.$text-color-main;
    }

    .field-original-title {
      margin-bottom: 0;
      line-height: 1.2;
      word-break: break-word;
    }
  }
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  /*
   * Node teaser.
   */
  .node-teaser {
    .imdb-rating-wrapper {
      .field-with-label {
        background-color: variables.$dk_bg-color-white;
        color: variables.$dk_text-color-main;
      }
    }

    .field-title {
      color: variables.$dk_text-color-main;
    }
  }
}
