.region-content {
  padding: 0;
}


/**
 * Header outer.
 */
#page > header {
  padding-top: 25px;
  padding-bottom: 50px;
  @media (orientation: landscape) {
    @include media-breakpoint-down(md) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

/**
 * Header inner.
 */
.header-inner-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo search mobile-nav";
  grid-column-gap: 20px;
  @include media-breakpoint-up(sm) {
    grid-column-gap: 50px;
  }
  @include media-breakpoint-up(lg) {
    grid-column-gap: 20px;
    grid-template-areas: "logo desktop-nav search switchers";
    grid-template-columns: auto 1fr auto auto;
  }
  @include media-breakpoint-up(xl) {
    grid-column-gap: 50px;
  }

  #block-logo {
    grid-area: logo;
    place-self: start;
    width: 42px;

    img {
      height: 40px;
    }
  }

  .desktop-nav {
    grid-area: desktop-nav;
    display: grid;
    align-content: center;
    justify-content: start;

    .main-menu {
      grid-area: desktop-menu;
      display: flex;
      align-items: center;

      ul {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 40px;

        li {
          list-style: none;

          a {
            color: $text-color-main;
            border-bottom: 2px solid transparent;
            padding: 3px 0;
            user-select: none;

            &.is-active {
              border-bottom: 2px solid $text-color-second;
              pointer-events: none;
            }

            &:hover {
              border-bottom: 1px solid $text-color-second;
            }
          }
        }
      }
    }
  }

  #search-wrapper {
    grid-area: search;
    // @see _search.scss
  }

  .switchers-wrapper {
    grid-area: switchers;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "language-switcher theme-switcher";
    grid-column-gap: 20px;
    @include media-breakpoint-up(xl) {
      grid-column-gap: 50px;
    }
  }

  #block-language-switcher {
    grid-area: language-switcher;
    position: relative;
    display: flex;
    align-items: center;

    .active-language {
      border-bottom: 2px solid $text-color-second;
      padding: 6px 0;
      cursor: pointer;
      user-select: none;
    }

    .links {
      position: absolute;
      top: 42px;
      left: -6px;
      z-index: 9;
      border-bottom-left-radius: $movies-border-radius-default;
      border-bottom-right-radius: $movies-border-radius-default;
      background-color: $bg-color-white;
      box-shadow: 5px 5px 18px -8px rgba(0, 0, 0, .2);
      height: 0;
      overflow: hidden;
      transition: height .2s ease-in-out;

      &.open {
        height: 60px;
      }

      li {
        list-style: none;

        + li {
          margin-top: 1rem;
        }

        a {
          padding: 6px;
          color: $text-color-main;
          user-select: none;
        }
      }
    }
  }

  .mobile-nav {
    grid-area: mobile-nav;
    place-self: center end;
    user-select: none;

    .menus-wrapper {
      display: none;

      &.open {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $bg-color-white;
        z-index: 10;
        @media (orientation: landscape) {
          @include media-breakpoint-down(md) {
            top: 80px;
          }
        }
      }

      .main-menu {
        border-bottom: 1px solid $text-color-main;

        ul {
          li {
            display: grid;
            text-align: center;

            a {
              padding: 15px;

              &.is-active {
                color: $text-color-main;
                pointer-events: none;
              }
            }
          }
        }
      }

      #block-language-switcher-mobile {
        .language-switcher {
          display: grid;
          text-align: center;

          .active-language {
            padding: 15px;
          }

          .links {
            li {
              padding: 15px;
            }
          }
        }
      }
    }
  }
}

/**
 * When using module "StandWithUkraine".
 */
#standwithukraine + div .header-inner-wrapper .mobile-nav .menus-wrapper.open {
  top: 120px;
}

/**
 * Theme switcher.
 */
.theme-switcher {
  grid-area: theme-switcher;
  position: relative;
  width: 100px;
  height: 40px;
  display: grid;
  grid-template-columns: 62px 32px 62px;
  place-items: center;
  border: 2px solid $bg-color-light-gray;
  border-radius: 20px;
  background: {
    color: $bg-color-light-gray;
  };
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  .text {
    height: 36px;
    display: grid;
    place-content: center;
    font: {
      size: 9px;
      weight: $font-weight-bold;
    };
    color: $text-color-main;
    transition: transform .3s;
  }

  .icon {
    width: 32px;
    height: 32px;
    background: {
      image: url("../assets/sun.svg");
      color: #fff;
      repeat: no-repeat;
      position: center;
    };
    border-radius: 100%;
    transition: transform .3s;
  }
}

#theme-switcher-mobile {
  display: flex;
  justify-content: center;
  border-top: 1px solid $text-color-main;
  padding: 15px;
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  /**
   * Header inner.
   */
  .header-inner-wrapper {
    .desktop-nav {
      .main-menu {
        a {
          color: $dk_text-color-main;

          &.is-active {
            border-bottom: 2px solid $dk_text-color-second;
          }

          &:hover {
            border-bottom: 1px solid $dk_text-color-second;
          }
        }
      }
    }

    #block-language-switcher {
      .active-language {
        border-bottom: 2px solid $dk_text-color-second;
      }

      .links {
        background-color: $dk_bg-color-white;

        li {
          a {
            color: $dk_text-color-main;
          }
        }
      }
    }

    .mobile-nav {
      // .menus-wrapper
      .open {
        background-color: $dk_bg-color-white;
      }

      .main-menu {
        border-bottom: 1px solid $dk_text-color-main;

        // a
        .is-active {
          color: $dk_text-color-main;
        }
      }
    }
  }


  /**
   * Theme switcher.
   */
  .theme-switcher {
    background-color: $dk_bg-color-white;

    .text,
    .icon {
      transform: translateX(-60px);
    }

    .text {
      color: $bg-color-light-gray;
    }

    .icon {
      background: {
        image: url("../assets/moon.svg");
        color: $bg-color-light-gray;
      };
    }
  }

  #theme-switcher-mobile {
    border-top: 1px solid $dk_text-color-main;
  }
}
