@use "mixins";
@use "variables";

#search-wrapper {
  display: flex;
  align-items: center;
  background-color: variables.$bg-search;
  border-radius: 20px;
  @include mixins.media-breakpoint-up(md) {
    position: relative;
  }

  input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 100px 0 10px;
    background-color: transparent;
    color: variables.$text-color-main;
    @include mixins.media-breakpoint-up(lg) {
      max-width: 270px;
    }
    @include mixins.media-breakpoint-up(xl) {
      max-width: 310px;
    }

    &:disabled {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

#search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

#search-elements-align-right {
  position: relative;

  select {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    color: variables.$text-color-main;
    border: none;
    transition-duration: 500ms;
    cursor: context-menu;
    z-index: 2;

    &.active {
      right: 40px;
    }

    option {
      background-color: variables.$bg_color-white;
    }
  }
}

/**
 * Reset button.
 */
#reset-search-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition-duration: 500ms;
  display: none;

  &.active {
    opacity: 1;
    display: block;
  }
}

/**
 * Search results.
 */
#search-results:not(:empty) {
  position: absolute;
  z-index: 11;
  width: 100%;
  top: 45px;
  padding-right: 5px;
  background-color: variables.$bg-search;
  border-radius: variables.$movies-border-radius-big;
  @include mixins.media-breakpoint-down(sm) {
    top: 75px;
    left: 15px;
    right: 15px;
    width: auto;
  }

  .teasers-list {
    max-height: 440px;
    overflow-y: scroll;
    display: grid;
    grid-row-gap: 20px;
    padding: 10px;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$dk_bg-color-white;
    }
  }

  .total-results,
  .all-results-link {
    height: 40px;
    display: grid;
    place-content: center;
    font: {
      weight: variables.$font-weight-bold;
    };
    border-top: 1px solid variables.$dk_bg-color-white;
    margin-right: -5px;
    user-select: none;
  }

  .total-results {
    cursor: help;
  }

  .all-results-link {
    cursor: pointer;
    display: none; // @todo Delete after adding a search page.
  }
}

/**
 * Single mini teaser.
 */
.search-mini-teaser {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  grid-column-gap: 15px;
  align-items: start;
  transition: all 100ms ease-out;

  &:hover {
    margin-left: -5px;
    margin-right: -5px;
  }

  .left {
    img {
      border-radius: variables.$movies-border-radius-default;
    }
  }

  .center {
    display: grid;
    grid-row-gap: 10px;
    padding: 5px 0;
  }

  .right {
    padding: 5px 0;
  }

  .title,
  .name {
    font: {
      weight: variables.$font-weight-bold;
    };
    word-break: break-word;
  }

  .department,
  .type,
  .year {
    font: {
      size: .8em;
    }
    color: variables.$text-color-main;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


/**
 * DARK THEME.
 */
[data-theme="dark"] {
  #search-wrapper {
    background-color: variables.$dk_bg-search;

    input {
      color: variables.$dk_text-color-main;
    }

    select {
      option {
        background-color: variables.$dk_bg-color-white;
      }
    }
  }

  #search-results {
    background-color: variables.$dk_bg-search;
  }
}

/**
 * IOS.
 */
@supports (-webkit-touch-callout: none) {
  #search-results:not(:empty) {
    position: relative;

    @include mixins.media-breakpoint-down(sm) {
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
