/**
 * Bootstrap.
 */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$grid-gutter-width: 30px !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;


/**
 * Custom.
 */
// Light theme.
$text-color-main: #818e9b;
$text-color-second: #109cf1;
$text-color-3d: rgba(#576478, 50%);
$bg-color-white: #ffffff;
$bg-color-light-gray: #f2f2f2;
$bg-search: #f5f8fa;
// Dark theme.
$dk_text-color-main: #f2f2f2;
$dk_text-color-second: #109cf1; // same
$dk_text-color-3d: rgba(#eee, 50%);
$dk_bg-color-white: #212936;
$dk_bg-color-light-gray: #2b3648;
$dk_bg-search: #2b3648;
$dk_text-option: #eee;
$dk_bg-option: #1976d2;
// Other.
$bg-color-filter-checkbox: #4abbff;

// Border radius.
$movies-border-radius-default: 6px;
$movies-border-radius-big: 10px;

// Fonts.
$font-family: Inter, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 500;
