@use "mixins";
@use "variables";

/**
 * Views: Home, Movies, TV Shows, Animations.
 */
.view-id-movies {
  section {
    padding-bottom: 50px;

    &:not(:first-child) {
      padding-top: 50px;
    }
  }

  .form-item {
    margin: 0;
    float: none;
    border-width: 0;
  }

  .view-filters {
    padding-bottom: 50px;
  }

  .form-checkboxes > .form-checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 30px;
    @include mixins.media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mixins.media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mixins.media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  input[type=submit] {
    display: none;
  }

  .pager__item {
    list-style: none;
  }
}
