@use "mixins";
@use "variables";

/**
 * Views: Home, Movies, TV Shows, Animations.
 */
.view-id-movies {
  section {
    padding-bottom: 50px;

    &:not(:first-child) {
      padding-top: 50px;
    }
  }

  .form-item {
    margin: 0;
    float: none;
    border-width: 0;
  }

  .view-filters {
    padding-bottom: 50px;
  }

  .form-checkboxes > .form-checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 30px;
    @include mixins.media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mixins.media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mixins.media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  input[type=checkbox] {
    display: none;

    &:checked {
      + label {
        grid-template-columns: 1fr 30px;
        place-items: center;
        background-color: variables.$bg-color-filter-checkbox;
        color: #fff;

        &:after {
          content: "";
          background: url(/themes/custom/movies/assets/x.svg) no-repeat;
          background-size: contain;
          width: 9px;
          height: 8px;
        }
      }
    }
  }

  .option {
    display: grid;
    text-align: center;
    background-color: variables.$bg-color-white;
    color: variables.$text-color-main;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    border-radius: 6px;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
  }

  input[type=submit] {
    display: none;
  }

  .pager__item {
    list-style: none;
  }
}


/**
 * DARK THEME.
 */
[data-theme=dark] {
  /**
   * Views: Home, Movies, TV Shows, Animations.
   */
  .view-id-movies {
    .option {
      background-color: variables.$dk_bg-option;
      color: variables.$dk_text-option;
    }
  }
}
