<div class="container">
  <div class="collection-wrapper">
    <div class="collection-title">
      {{ title }}
    </div>

    <div class="collection-poster">
      {{ poster }}
    </div>

    <div class="collection-items">
      {% for item in items %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
</div>
