{% set classes = create_attribute({'class': ['items-list-wrapper']}) %}

{% if use_container %}
  {% set classes = classes.addClass('container') %}
{% endif %}

<div{{ classes }}>
  {% if title %}
    <div class="items-list-title">
      {{ title }}
    </div>
  {% endif %}

  <div class="items-list-content responsive-grid">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
